/* Registration Form */
/* body of website */
.register-body{
    background-color: #101010;
    background-repeat: no-repeat;
    background-size: cover;

}
/* body of form */
.registration{
    padding: 110px 30%;
    height: 100%;
    min-height: 100vh;
}
/* title of form */
.register-form h1{
    font-size: 80px;
    color: white;
    margin-bottom: 20px;
}
.register-form h1 span{
    color: #fc0050;
}
/* div form */
.register-form{
    color: white;
    font-size: 20px;
}
/* inputs fields */
.register-form form input{
    color: white;
    padding: 17px;
    background-color: #191919;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
/* labels of each inputs */
.register-form h4{
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    color: #fc0050;
}

/* submit button */
.register-form form .submitbtn{
    display: inline-block;
    background-color: #fc0050;
    font-size: 27px;
    font-weight: 600px;
    /* make the color of the border less color opacity */
    border: 2px solid transparent;
    border-radius: 60px;
    width: 220px;
    cursor: pointer;
    /* slow then fast then slow in transition */
    transition: ease 0.30s;
}
/* hover */
.register-form form .submitbtn:hover{
    border: 2px solid #fc0050;
    background-color: transparent;
    /* increase the scale of the elemnent */
    transform: scale(1.1);
}
